// config
@import "./config/_variables.scss";
@import "./config/reset.scss";

// components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";
//screens
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/watch.scss";
@import "./screens/upload.scss";
// defaults
// global styles
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
  margin: 0px 50px;
}
.pageTitle {
  text-align: center;
  margin: 30px 0px;
  font-weight: bold;
  font-size: 30px;
}
.message {
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: tomato;
}
