.edit-profile__password {
  text-align: center;
  text-decoration: underline;
  margin: 10px 0px;
}

.edit-profile__form {
  label {
    font-size: 15px;
    margin: 10px 0px;
    display: block;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
