.profile__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  img {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 30px;
    font-weight: 600;
  }
}
