.search__form {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: none;

  input {
    all: unset;
    color: white;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 90%;
    padding: 15px 25px;
  }
  button {
    position: absolute;
    right: 30px;
    background: none;
    border: none;
    color: white;
  }
}
