.video-mixin__thumbNail {
  width: 100%;
  margin-top: 10px;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  background-color: white;
  max-width: 800px;
}
.video-mixin__data {
  display: flex;
  flex-direction: column;
  margin: 10px;
  .video-mixin__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .video-mixin__owner,
  .video-mixin__meta span {
    font-size: 15px;
    margin-bottom: 3px;
    opacity: 0.6;
  }
}
