extends ../base
block content
     form(method="POST")
        if errorMessage 
            h2 #{errorMessage}
        input(placeholder="Old password",name="oldPassword",type="",required)
        input(placeholder="New Password",name="newPassword",type="",required)
        input(placeholder="New Password Confirmation",name="newPassword2",type="",required)
        input(type="submit", value="change password!")
     